<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./main.css">
    <title>Real time search</title>
  </head>
  <body>
    <div id="app">
      <el-row class="search_info_area">
        <el-col :span="6">
          <div class="title">タグ</div>
          <div class="tag_select">
            <el-input placeholder="tag1" autocomplete="on" list="tags" v-model = "tag1"></el-input>
          </div>
          <div class="tag_select">
            <el-input placeholder="tag2" autocomplete="on" list="tags" v-model = "tag2"></el-input>
          </div> 
          <datalist id="tags">  
            <option v-for="tag in tags" v-bind:key="tag.id">{{tag.id}}</option>
          </datalist>
          <div class="search_checkbox">
            <el-checkbox v-model="orSearch" true-value="OR" false-value=''>OR</el-checkbox>
          </div>
        </el-col>
        <el-col :span="6">
            <div class="block">
              <div class="title">ストック数</div>
              <div class="stock_slider">
                  
                  <el-slider
                    v-model="stock"
                    :step="50"
                    :max="1000"
                    show-stops>
                  </el-slider>
                
              </div>
            </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8"><div class="grid-content bg-purple"></div></el-col>
        <el-col :span="8">
          <div class="search_button">
            <el-button type="primary" icon="el-icon-search" v-on:click="getAnswer">検索</el-button>
          </div>
        </el-col>
        <el-col :span="8"><div class="grid-content bg-purple"></div></el-col>
      </el-row>

      <p> {{message}} </p>
      <ul>
        <li v-for = "item in items">
          <a v-bind:href = "item.url" target = "_blank">{{ item.title}}</a> liks: {{ item.likes_count }} 
        </li>
      </ul>
      <pre> {{$data}} </pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="./main.js"></script>
  </body>
  </html>