
.el-row {
  margin: 15px;
}
.search_info_area {
  border-bottom: 1px solid #f1e8e8;
  padding-bottom: 20px;
}
.tag_select, .search_checkbox {
  width: 270px;
  margin: auto;
}
.el-input {
  width: 270px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.title {
  width: 300px;
  margin: auto;
  border-bottom: 1px solid #f1e8e8;
  padding-bottom: 5px;
}

.grid-content {
  border-radius: 4px;
  min-height: 40px;
}
.search_button {
  width: 100px;
  margin: auto;
}
.stock_slider {
  width: 270px;
  margin: auto;
  margin-top: 15px;
}

